.message {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 2rem;
}

.success {
    color: #155724;
    background-color: #D4EDDA;
}

.error {
    color: #721C24;
    background-color: #F8D7DA;
}